.archive_page {
	margin:0;
}

@font-face {
  font-family: "Arial Narrow";
  src: url("assets/Arial Narrow.ttf");
}

a {
	text-decoration: none;
}

.container {
	width:100vw;
	height:100vh;
	position:fixed;
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content: center;
}

.index {
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content: center;
/*	margin-bottom:1000px;*/
}

.instruction, .greeting {
	font-family:"Arial Narrow";
	font-size:40px;
	width:425px;
	margin:20px;
	text-align:center;
}

.greeting {
	width:405px;
}

.button {
	font-family:"Arial Narrow";
    border: 2px dashed red;
    border-radius: 50%;
    height: 100px;
    width: 100px;
	margin:20px;
	font-size:40px;
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content: center;
	cursor:pointer;
}

.index_link {
	position:relative;
}

.index_link .arrow {
    position: absolute;
    top: 49px;
    left: 40px;
}

.rotate {
	animation-name:rotate;
	animation-duration:30s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes rotate {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

/*for images on the audio prompt page*/
.prompt_image {
	width:300px;
	margin:20px;
}

audio {
	width:300px;
	display:none;
}

.date {
	z-index:500;
	color:black;
}

.audio_prompt {
	display:block;
	padding:20px;
}

.js-stop {
	display:none;
	background-color:red;
	color:white;
}

/*for arrow*/
.arrow {
	width:64px;
	height:50px;
	position:relative;
}

.line {
	position: absolute;
	width: 100%;
	height: 4px;
	top: 22px;
	background-color: red;
	z-index: 100;
}

.diag {
    position: absolute;
    width: 33px;
    height: 4px;
    transform: rotate(45deg);
    top: 11px;
    right: -5px;
    background-color: red;
}

.down {
	transform:rotate(-45deg);
    top: 33px;
}

/*for blue audio box*/
.audio {
	background-color:blue;
	width:550px;
	height:550px;
	margin:20px;
	display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.arrow-right {
  	width: 0; 
  	height: 0; 
	border-top: 100px solid transparent;
	border-bottom: 100px solid transparent;
	border-left: 155px solid white;
	margin-left: 55px;
}

.paused {
    width: 80px;
    height: 180px;
    border-left: 50px solid white;
    border-right: 50px solid white;
    display:none;
}

/*for archive page*/
.archive {
	width:100vw;
	height:100vh;
	margin:0px;
	display:none;
}

/*for play button on archive page*/
.play {
    position:fixed;
    width:100vw;
    height:88vh; 
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
}

.play .playbutton {
	transform:rotate(180deg);
}

.play .instruction {
	color:white;
}

/*for images on the archive page*/
.archive_image {
	width:100%;
	height:100%;
	margin:0px;
	object-fit:cover;
}

/*for archive page exit button*/
.exit {
	cursor:pointer;
	display:none;
	position: fixed;
    top: 71px;
    right: 14px;
}

.exit .diag {
	top:0px;
	width:150px;
}

#form {
	position:fixed;
	top:-1000px;
}

.red {
	background-color:red;
}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 

  	body {
  		margin:none;
  	}
  	.container {
	    justify-content: flex-start;
	    height:88vh; 
	    top:0vh;
  	}
  	.center {
  		justify-content:center;
  	}
  	.greeting {
  		width:750px;
  		font-size:103px;
	    margin: 0px 20px 20px 20px;
  	}
  	.instruction {
  		width:750px;
  		font-size:69px;
	    margin: 20px;
  	}
  	.button {
  		width:300px;
  		height:300px;
  		border-width:6px;
  		    font-size: 100px;
  	}
  	.arrow {
		width:163px;
		height:200px;
	}

	.index_link .arrow {
	    top: 72px;
	    left: 82px;
	}

	.line {
		position: absolute;
		width: 100%;
		height: 5px;
		top: 98px;
		background-color: red;
		z-index: 100;
	}
	.diag {
       	position: absolute;
	    width: 75px;
	    height: 5px;
	    transform: rotate(45deg);
	    top: 70px;
	    right: -8px;
	    background-color: red;
	}
	.down {
		transform:rotate(-45deg);
	    top: 126px;
	}
	.audio_prompt {
		display:block;
		margin-bottom:200px;
		margin-left:200px;
	}
	.prompt_image {
		width:initial;
		height:700px;
		margin:20px 0px 20px 0px;
	}
	.audio {
		height:600px;
		width:800px;
	    margin: 40px 20px 40px 20px;
	}

	.instruction {
		margin:0px 0px 40px 0px;
	}
	.archive {
		width:100vw;
		height:100vh;
		margin:0px;
		display:none;
	}
	button {
		font-size:103px;
	}

}